<link rel="stylesheet" href="/css/header.css">
<script src="/js/index.js"></script>

<link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />

<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white"
  style=" box-shadow: 0px 5px 18px rgb(0 0 0 / 20%);">
  <a class="navbar-brand" href="/"><img class="logo" src="/images/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 16px;">
    <ul class="navbar-nav mx-auto" style="font-size: 1.16rem;font-weight: 500;">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donate">Donate</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Get Involved
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/volunteer">Volunteer</a></li>
          <li><a class="dropdown-item" href="/ngoPartners">NGO Partner</a></li>
          <li><a class="dropdown-item" href="/brandPartners">Brand Partner</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
    <div class="d-flex">
      <ul class="d-flex list-unstyled" style="margin-top: 10px;">
        <a href="/fundRaiser" class="fundraiser-btn">Start Fundraiser</a>
        <% if (locals.user) { %>
          <li>
            <a href="/users/profile/<%= user.id %>">
              <!-- <%= user.name %> -->
              <img src="/images/user_avatar1.jpg" class="header_user_img">
              <!-- <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100"> -->

            </a>
          </li>
          <li><a class="btn btn-outline-Primary login-btn" href="/users/sign-out">Sign Out</a></li>
          <% }else{ %>
            <!-- <li><a class="btn btn-outline-Primary" href="/users/sign-in">SignIn</a></li> -->
            <li><a class="btn btn-outline-Primary  login-btn" href="/users/sign-up">SignUp/SignIn</a></li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>