<link rel="stylesheet" href="/css/about.css">



<div id="wrapper">
    <section id="about-header">
        <div id="about-header-div">
            <h1>Our Vision</h1>
            <hr style="color: rgb(221, 3, 3); height: 3px; width: 12%; margin: auto;">
            <h6>A society who not only survive but live, happy and healthy.</h6>
        </div>
        <img src="/images/about-banner11.jpg">
        
    </section>
    <section id="mission-section">
        <h1 style="font-weight: normal; color: black">Our Mission</h1>
        <hr style="color: rgb(221, 3, 3); height: 3px; width: 12%; margin: auto;">
        <div id="mission-cards-div">
            <div class="product" style="border-bottom: 6px solid rgb(33,183,184);">
                <div class="imgbox"> <img src="/images/mission-sample.png">
                    <h3>Mission First</h3>
                </div>
                <div class="specifies">
                    <h2>Mission First</h2>
                    <hr style="height: 3px; color: rgb(33,183,184); width: 20%; margin: 5px auto;">
                    <p>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. At quos dicta consequuntur dolorem
                        nostrum cum, molestias, reiciendis fuga ut perferendis sapiente.</p>
                </div>
            </div>
            <div class="product" style="border-bottom: 6px solid rgb(229,40,106);">
                <div class="imgbox"> <img src="/images/mission-sample.png">
                    <h3>Mission Second</h3>
                </div>
                <div class="specifies">
                    <h2>Mission Second</h2>
                    <hr style="height: 3px; color: rgb(229,40,106); width: 20%; margin: 5px auto;">
                    <p>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. At quos dicta consequuntur dolorem
                        nostrum cum, molestias, reiciendis fuga ut perferendis sapiente.</p>
                </div>
            </div>
            <div class="product" style="border-bottom: 6px solid rgb(0, 140, 255);">
                <div class="imgbox">
                    <img src="/images/mission-sample.png">
                    <h3>Mission Third</h3>
                </div>
                <div class="specifies">
                    <h2>Mission Third</h2>
                    <hr style="height: 3px; color: rgb(0, 140, 255); width: 20%; margin: 5px auto;">
                    <p>Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. At quos dicta
                        consequuntur dolorem
                        nostrum cum, molestias, reiciendis fuga ut perferendis sapiente.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about-us-main">
        <h1 style="font-weight: normal; color: black;">Who We Are</h1>
        <hr style="color: rgb(221, 3, 3); height: 3px; width: 12%; margin: auto;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quas distinctio
            corrupti laborum error neque
            impedit iusto aliquid harum maxime optio facere esse officiis, veniam eligendi a, voluptates ipsum
            temporibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolor accusantium pariatur
            est, minus, eligendi soluta enim sit repudiandae tenetur sint sunt nesciunt ducimus quos mollitia incidunt
            molestias rerum iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vel iusto laborum
            perspiciatis praesentium? Reprehenderit commodi impedit illo eveniet odio, consequuntur libero quibusdam
            nisi animi non autem voluptas similique iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
            assumenda, quae quibusdam hic tenetur eum modi, culpa labore ex numquam corporis voluptatum nihil laudantium
            velit maiores doloribus unde, voluptatem et! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
            inventore soluta quod, odio iste reiciendis esse, similique ipsam facere nisi distinctio consectetur quis
            adipisci officiis laboriosam culpa eius ratione tenetur?</p>
    </section>

    <section id="how-to-help">
        <h1>How you can help</h1>
        <div id="how-to-help-main">
            <div class="help-div">
                <div class="help-img">
                    <img src="/images/campaign.png">
                </div>
                <h3>Campaign</h3>
                <p>Help us create a society that is built for all children. Together we will listen to young people,
                    give them a voice, and campaign for the change they need.</p>
            </div>
            <div class="help-div">
                <div class="help-img">
                    <img src="/images/donatelogo.png">
                </div>
                <h3>Donate</h3>
                <p>Your gift will contribute to our vital work with children across the country, giving young people
                    hope, and a reason to believe in a brighter future.</p>
            </div>
            <div class="help-div">
                <div class="help-img">
                    <img src="/images/campaign.png">
                </div>
                <h3>Fund Raising</h3>
                <p>Baking, singing or running, however you choose to raise money, it all helps us to be there for young
                    people.</p>
            </div>
            <div class="help-div">
                <div class="help-img">
                    <img src="/images/donatelogo.png">
                </div>
                <h3>Volunteer</h3>
                <p>Either behind a till or mentoring a child in our services, as a volunteer you can make a huge
                    difference to your community and the young people in it.</p>
            </div>
        </div>
    </section>
    <section id="whoweserve">
        <div id="serve-img">
            <img src="/images/serveimg.jpg">
        </div>
        <div id="serve-content">
            <h1 style="font-weight: normal; color: black;">Who We Serve</h1>
            <hr style="color: rgb(221, 3, 3); height: 3px; width: 12%; margin: auto;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quas distinctio
                corrupti laborum error neque
                impedit iusto aliquid harum maxime optio facere esse officiis, veniam eligendi a, voluptates ipsum
                temporibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolor accusantium
                pariatur
                est, minus, eligendi soluta enim sit repudiandae tenetur sint sunt nesciunt ducimus quos mollitia
                incidunt
                molestias rerum iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vel iusto laborum
                perspiciatis praesentium? Reprehenderit commodi impedit illo eveniet odio, consequuntur libero quibusdam
                nisi animi non autem voluptas similique iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Rem
                assumenda, quae quibusdam hic tenetur eum modi, culpa labore ex numquam corporis voluptatum nihil
                laudantium
                velit maiores doloribus unde, voluptatem et! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Illo
                inventore soluta quod, odio iste reiciendis esse, similique ipsam facere nisi distinctio consectetur
                quis
                adipisci officiis laboriosam culpa eius ratione tenetur?</p>
        </div>
    </section>
    <section id="team-main">
        <h1>Our Team</h1>
        <div id="team">
            <div class="team-member">
                <img src="/images/teamavatar.png">
                <h4>Utkarsh Gupta</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit ut sunt maiores sapiente facilis
                    iusto ex magni consequuntur, hic autem eius, nemo neque tenetur, voluptates deserunt obcaecati
                </p>
                <ul>
                    <li><a><img src="/images/linkedin.png"></a></li>
                    <li><a><img src="/images/instagram.png"></a></li>
                    <li><a><img src="/images/twitter.png"></a></li>
                </ul>
            </div>
            <div class="team-member">
                <img src="/images/teamavatar.png">
                <h4>Utkarsh Gupta</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit ut sunt maiores sapiente facilis
                    iusto ex magni consequuntur, hic autem eius, nemo neque tenetur, voluptates deserunt obcaecati
                </p>
                <ul>
                    <li><a><img src="/images/linkedin.png"></a></li>
                    <li><a><img src="/images/instagram.png"></a></li>
                    <li><a><img src="/images/twitter.png"></a></li>
                </ul>
            </div>
            <div class="team-member">
                <img src="/images/teamavatar.png">
                <h4>Utkarsh Gupta</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit ut sunt maiores sapiente facilis
                    iusto ex magni consequuntur, hic autem eius, nemo neque tenetur, voluptates deserunt obcaecati
                </p>
                <ul>
                    <li><a><img src="/images/linkedin.png"></a></li>
                    <li><a><img src="/images/instagram.png"></a></li>
                    <li><a><img src="/images/twitter.png"></a></li>
                </ul>
            </div>
        </div>

    </section>
    <!-- <section id="goals">
        <h3>Goals</h3>
        <div id="goals-flex">
            <div id="goals-div" class="timeline">
                <div id="goal-name">
                    <h5>This is our Goal1</h5>
                    <div id="goal-icon">
                        <img src="/images/mission-sample.png">
                    </div>
                </div>
                <div id="goal-name">
                    <h5>This is our Goal2</h5>
                    <div id="goal-icon">
                        <img src="/images/mission-sample.png">
                    </div>
                </div>
                <div id="goal-name">
                    <h5>This is our Goal1</h5>
                    <div id="goal-icon">
                        <img src="/images/mission-sample.png">
                    </div>
                </div>
                <div id="goal-name">
                    <h5>This is our Goal1</h5>
                    <div id="goal-icon">
                        <img src="/images/mission-sample.png">
                    </div>
                </div>
                <div id="goal-name">
                    <h5>This is our Goal1</h5>
                    <div id="goal-icon">
                        <img src="/images/mission-sample.png">
                    </div>
                </div>
            </div>
            <hr id="goals-hr">
        </div>
    </section> -->
</div>