 <link rel="stylesheet" href="/css/brandPartners.css">
<div id="brandPartners">
    <h2>Trusted By Our Parners</h2>
    <p>Securing investments that strengthen communities through constructive, collaborative, and innovative engagements
        with
        our partners has always been our topmost agenda. Over the years, CARE India has partnered with influential
        institutions in both the public and private sectors to maximise the impact and influence of its projects and
        programmes across the country. These partnerships not only provide us financial support but also help us in
        running
        our programmes more effectively and efficiently. Increasingly, organisations have also been recognising the
        importance of value creation through social interventions along with business efforts. CARE India has been the
        partner of choice for multiple government organisations and social and economic institutions to extend their
        humanitarian efforts and make a difference in society.</p>

    <div id="brand-logos">
        <img src="/images/thehansfoundation.png">
        <img src="/images/oracle-logo.png">
        <img src="/images/bnp-paribas.png">
        <img src="/images/TataProjects.jpg">
        <img src="/images/cdp-logo.png">
        <img src="/images/glamour.png">
        <img src="/images/thehansfoundation.png">
        <img src="/images/oracle-logo.png">
        <img src="/images/bnp-paribas.png">
        <img src="/images/TataProjects.jpg">
        <img src="/images/cdp-logo.png">
        <img src="/images/glamour.png">
    </div>
</div> 


