<link rel="stylesheet" href="/css/contact.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<section class="contact">

    <div class="center">
        <div class="content ">
            <h2>Contact Us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis est voluptatibus fugiat
                consectetur
                reprehenderit modi fuga quae quos voluptatum sequi?
            </p>
        </div>
    </div>
    <div class="donation">
        <div class="gen-query">
            <h5><strong>All General Queries<br></strong></h5>
            <div class="contact-email">
                <p>
                    info@helpinghands.org
                </p>
            </div>

            <h4>Donation Related Queries</h4>
            <h5>For New Donors</h5>
            <p>Ruchi- +91-1122334455 <br>
                newdonors@helpinghands.org
            </p>
            <h5>For Existing Donors</h5>
            <p>Gaurav - +91-1122333444 <br>
                olddonors@helpinghands.org
            </p>
        </div>
        <div class="contactForm">
            <form>
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="Name" required="required" placeholder="Full Name">
                    <!-- <span>Full Name</span> -->
                </div>
                <div class="inputBox">
                    <input type="email" name="Email" required="required" placeholder="Email">
                    <!-- <span>Email</span> -->
                </div>
                <div class="inputBox">
                    <textarea required="required" placeholder="Type your message....."></textarea>
                    <!-- <span></span> -->
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send" required="required">
                </div>
            </form>
        </div>
    </div>
        <div class="contact-info">
            <div class="box">
                <div class="icon1"><img src="../images/map.png" alt=""> </div>
                <div class="text">
                    <h3>Address</h3>
                    <p>
                        JECRC University,<br>Vidhani, Sitapura,<br>Jaipur, Rajasthan
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="icon2"><img src="../images/email.png" alt=""></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>
                        contact@donateclothes.org
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="icon3"><img src="../images/phone-call.png" alt=""> </div>
                <div class="text">
                    <h3>Phone No.</h3>
                    <p>
                        +91-1234567890
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>