<link rel="stylesheet" href="/css/contact.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

<section class="contact">

    <div class="center">
        <div class="content ">
            <h3>Contact Us</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis est voluptatibus fugiat
                consectetur
                reprehenderit modi fuga quae quos voluptatum sequi?
            </p>
        </div>
    </div>
    <div class="donation">
        <div class="gen-query">
            <h5><strong>All General Queries<br></strong></h5>
            <div class="contact-email">
                <p>
                    info@helpinghands.org
                </p>
            </div>

            <h5>Donation Related Queries</h5>
            <h6>For New Donors</h6>
            <p>Ruchi- +91-1122334455 <br>
                newdonors@helpinghands.org
            </p>
            <h6>For Existing Donors</h6>
            <p>Gaurav - +91-1122333444 <br>
                olddonors@helpinghands.org
            </p>
        </div>
        <div class="contactForm">
            <form>
                <h4>Send Message</h4>
                <div class="inputBox">
                    <input type="text" name="Name" required="required" placeholder="Full Name">
                </div>
                <div class="inputBox">
                    <input type="email" name="Email" required="required" placeholder="Email">
                </div>
                <div class="inputBox">
                    <textarea required="required" placeholder="Type your message....."></textarea>
                </div>
                <div class="inputBox">
                    <input type="submit" name="contact-btn" value="Send" required="required">
                </div>
            </form>
        </div>
    </div>
    <div class="contact-info">
        <!-- <div class="box">
                <div class="icon1"><img src="../images/map.png" alt=""> </div>
                <div class="text">
                    <h3>Address</h3>
                    <p>
                        JECRC University,<br>Vidhani, Sitapura,<br>Jaipur, Rajasthan
                    </p>
                </div>
            </div> -->
        <div class="box" id="email">
            <div class="icon2"><img src="../images/email.png" alt=""></div>
            <div class="text">
                <h6>Email</h6>
                <p>
                    contact@donateclothes.org
                </p>
            </div>
        </div>
        <div class="box" id="phone">
            <div class="icon3"><img src="../images/phone-call.png" alt=""> </div>
            <div class="text">
                <h6>Phone No.</h6>
                <p>
                    +91-1234567890
                </p>
            </div>
        </div>
    </div>
    <hr style="width: 80%; color: gray; height: 1px; margin-left: 7rem;">
    <div class="center">
        <div class="content ">
            <h3>Reach Us</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis est voluptatibus fugiat
                consectetur
                reprehenderit modi fuga quae quos voluptatum sequi?
            </p>
        </div>
    </div>

    </div>

</section>

<div class="reachUs">
    <div>

        <div class="col-md-12 col-12 mx-auto">
            <div class="row">



                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7124.029835951101!2d75.87599910000004!3d26.775794399999988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dc892b8f05399%3A0x43fbca7105eca800!2sJECRC%20University!5e0!3m2!1sen!2sin!4v1632210977819!5m2!1sen!2sin"
                    class="gmap_iframe" width="50%" height="400px" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"></iframe>
                <!-- <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
                  marginheight="0" marginwidth="0"
                  src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Rajasthan&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> -->


            </div>
        </div>
    </div>
</div>