<link rel="stylesheet" href="/css/donate.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


<div class="donation-section">


    <!-- heading -->
    <div class="headtext">
        <h2 class="text-center tcenter"> <strong>Alone we can do so little, together we can do so much</strong></h2>
        <h2 class="tright"><strong>- Helen Keler</strong></h2>
    </div>
    <div class="headtext2 text-center">
        <h3>Helping Hands has been working in India for over 70 years, for the upliftment of marginalised women and
            girls through 53 programmes in 18 states and 130+ districts.</h3>
        <h3>Together, we can change in our world in better direction.</h3>
    </div>
    <!-- heading -->


    <!-- donation -->
    <div class="panel">
        <div class="card donation-card left-panel" style="width:54rem; ">
            <form>
                <h2 class="card-title"
                    style="color: rgb(203 16 16); text-align: center; margin-bottom: 1.5rem;text-decoration: underline;">
                    Donation Details</h2>
                <div class="person-belong " style="display: flex;">
                    <div class="col-12 col-md-4 offset-md-1">
                        <h3>Nationality </h3>
                    </div>
                    <div class="rbstyle">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="optradio" id="countrybelong1" value="1"
                                checked>
                            <label class="form-check-label" for="countrybelong1"><strong>Indian</strong></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="optradio" id="countrybelong2" value="2">
                            <label class="form-check-label" for="countrybelong2"><strong>Other Country</strong></label>
                        </div>

                    </div>
                </div>

                <div class="donation-area" style="display: flex;">

                    <div class="col-12 col-md-4 offset-md-1">
                        <h3> You can donate </h3>
                    </div>

                    <div class="darea">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="focusArea" id="FocusArea1" value="1"
                                checked>
                            <label class="form-check-label" for="FocusArea1"><strong>Money</strong></label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" value="2">
                            <label for="FocusArea2"><strong>Education</strong>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" value="3">
                            <label class="form-check-label" for="FocusArea3"> <strong>Meals</strong></label>
                        </div>
                        <div id="DonationKaro" style="display: none">

                            <h3>“Education is the most powerful weapon which you can use to change the world” <strong> –
                                    Nelson Mandela</strong>
                            </h3>
                            <h4>
                                Ensure continued education for poor children during COVID - 19. Community learning
                                centers
                                helping
                                overcome the barriers to learning. <br>
                                <strong> Want to support a child!!!</strong>
                            </h4>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Educateachild" id="Educateachild1"
                                    value="4">
                                <label class="form-check-label" for="Educateachild1"> <strong>Rs. 8,000/- </strong>(for
                                    the
                                    education of 1 child for 1 year)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Educateachild" id="Educateachild2"
                                    value="4">
                                <label class="form-check-label" for="Educateachild2"> <strong>Rs. 24,000/-</strong> (for
                                    the
                                    education of 3 children for 1 year)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Educateachild" id="Educateachild3"
                                    value="4">
                                <label class="form-check-label" for="Educateachild2"> <strong>Rs. 40,000/-</strong> (for
                                    the
                                    education of 5 children for 1 year)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Educateachild" id="Educateachild4"
                                    value="4">
                                <label class="form-check-label" for="Educateachild2" style="display: flex;">
                                    <span>Other amount:</span>
                                    <input type="text" class="form-control" name="number" id="number" size="20"
                                        maxlength="12">
                                </label>
                            </div>

                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="focusArea" id="FocusArea4" value="4">
                            <label class="form-check-label" for="FocusArea4"> <strong>Clothes</strong></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="focusArea" id="FocusArea5" value="5">
                            <label class="form-check-label" for="FocusArea5"><strong>Vaccination</strong></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="focusArea" id="FocusArea6" value="6">
                            <label class="form-check-label" for="FocusArea6"><strong>Disaster Relief</strong></label>
                        </div>
                    </div>
                </div>
                <div id="FocusArea1">
                    <div class="currency-belong " style="display: flex;">
                        <div class="col-12 col-md-4 offset-md-1">
                            <h3>Currency </h3>
                        </div>
                        <div class="cbstyle">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="curtype" id="countrybelong1"
                                    value="1" onclick="fn1()" checked>
                                <label class="form-check-label" for="countrybelong1"><strong>Rupees</strong></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="curtype" id="countrybelong2"
                                    value="2" onclick="fn2()">
                                <label class="form-check-label" for="countrybelong2"><strong>Dollar</strong></label>
                            </div>
                        </div>
                    </div>

                    <div class="amount " id="rupees" style="display: flex;">
                        <div class="col-12 col-md-4 offset-md-1">
                            <h3>Amount </h3>
                        </div>
                        <div class="amount-area">
                            <div class="amt">
                            <div class="amount-rupee">
                                <input type="checkbox" name="amnt" class="btn-check" id="btn-check-2-outlined" unchecked
                                    autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Rs.3000</label>

                                <input type="checkbox" name="amnt" class="btn-check" id="btn-check-3-outlined" unchecked
                                    autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btn-check-3-outlined">Rs.5000</label>

                                <input type="checkbox" name="amnt" class="btn-check" id="btn-check-4-outlined" unchecked
                                    autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btn-check-4-outlined">Rs.10000</label>
                            </div>
                            
                                <div class="mb-2 my-3">
                                    <!-- <label for="exampleFormControlInput1" class="form-label">Other Amount </label> -->
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter Your Amount">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="amount " id="dollar" style="display: none;">
                        <div class="col-12 col-md-4 offset-md-1">
                            <h3>Amount </h3>
                        </div>
                        <div class="amount-area">
                            <div class="amount-rupee">
                                <input type="checkbox" name="amnt2" class="btn-check" id="btn-check-12-outlined"
                                    unchecked autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btn-check-12-outlined">$500</label>

                                <input type="checkbox" name="amnt2" class="btn-check" id="btn-check-13-outlined"
                                    unchecked autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btn-check-13-outlined">$1000</label>

                                <input type="checkbox" name="amnt" class="btn-check" id="btn-check-14-outlined"
                                    unchecked autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btn-check-14-outlined">$1500</label>
                            </div>
                            <div class="mb-2 inputamt">
                                <!-- <label for="exampleFormControlInput1" class="form-label">Other Amount </label> -->
                                <input type="text" class="form-control" id="exampleFormControlInput2"
                                    placeholder="Enter Your Amount">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="submit-button d-grid gap-2 d-md-flex justify-content-md-center ">
                    <button type="button" class="btn btn-primary btn1"><strong>Proceed</strong></button>
                </div>
            </form>
        </div>
        <!-- carousel section -->
        <div id="myCarousel" class="carousel slide container right-panel" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active ">
                    <!-- <div class="container">
                        <div class="carousel-caption text-top-img">
                            <h1 style="color: #ec8661;">Change Lives,Save lives</h1>
                            <h4 style="color: #fff;">Your Single donation can save the live of someone </h4>
                        </div>
                </div>  -->
                    <img class="carousel-img" src="/images/donate4.jpg" alt="">

                </div>



                <div class="carousel-item ">
                    <!-- <div class="col-md-4" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top" src="/images/donate2.jpg" alt="">
                             <div class="card-body">
                                <h4 class="card-title"> Card title></h4>
                                <p class="card-text">
                                    my mbd jin hdknd jkwndkn jlndkwqnd njnd </p>
                            </div> 
                        </div> 
                        
                    </div> -->
                    <img class="card-img-top" src="/images/donate2.jpg" alt="">
                </div>
                <!-- <div class="carousel-item">
                    <div class="col-md-11" style="float:left">
                    <div class="card mb-2">
                    <img class="card-img-top" src="/images/donate2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title"> Card title></h4> 
                        <p        class="card-text">
                            my mbd jin hdknd jkwndkn jlndkwqnd njnd </p>
                        </div>
                    </div>
                </div> -->
                <div class="carousel-item">
                    <img class="carousel-img" src="/images/donate3.jpg" alt="">


                </div>
            </div>
            <button class="carousel-control-prev leftarrow" type="button" data-bs-target="#myCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next rightarrow" type="button" data-bs-target="#myCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- carousel section -->

    </div>

    <!-- donation -->

    <!-- whydonate -->

    <div _ngcontent-my-app-c212="" class="what-is-monthly">
        <div _ngcontent-my-app-c212="" class="heading"> Why Donate at <span _ngcontent-my-app-c212="" class="heading2">
                Helping Hands
            </span></div>
        <hr _ngcontent-my-app-c212="" class="hr-yellow my-1">
        <div _ngcontent-my-app-c212="" class="sub-heading"> Every 2 minutes, a child dies because they can't afford
            medical aid. With <span _ngcontent-my-app-c212="" class="sip-color"><strong _ngcontent-my-app-c212=""
                    class="heading2">
                    Helping Hands </strong></span>, we are on a mission to make healthcare a reality for everyone,
            no matter who you are. </div>
        <div _ngcontent-my-app-c212="" class="sub-heading"> Every 2 minutes, a child dies because they can't afford
            medical aid. With <span _ngcontent-my-app-c212="" class="sip-color"><strong _ngcontent-my-app-c212=""
                    class="heading2">
                    Helping Hands </strong></span>, we are on a mission to make healthcare a reality for everyone,
            no matter who you are. </div>
        <div _ngcontent-my-app-c212="" class="wrapper ">
            <app-monthly-static-sprite _ngcontent-my-app-c212="" _nghost-my-app-c198="">
                <div _ngcontent-my-app-c198="" class="sprite-section whydonate">
                    <div _ngcontent-my-app-c198="" class="flex-m "><img _ngcontent-my-app-c198=""
                            src="/images/whydonate1.1.jpg" alt="no image"
                            class="gm-lazy gm-added imgedit gm-loaded gm-observing gm-observing-cb"><span
                            _ngcontent-my-app-c198="" class="hr mt-3"></span>
                        <div _ngcontent-my-app-c198="" class="text mt-4">
                            <div _ngcontent-my-app-c198="" class="head">Its Affordable</div>
                            <div _ngcontent-my-app-c198="" class="descr"> No matter what you give, every donation will
                                make an impact </div>
                        </div>
                    </div>
                    <div class="vl1"></div>
                    <div _ngcontent-my-app-c198="" class="flex-m "><img _ngcontent-my-app-c198=""
                            src="/images/whydonate1.2.jpg" alt="no image"
                            class="gm-lazy gm-added gm-loaded imgedit2 gm-observing gm-observing-cb"><span
                            _ngcontent-my-app-c198="" class="hr mt-3"></span>
                        <div _ngcontent-my-app-c198="" class="text mt-4">
                            <div _ngcontent-my-app-c198="" class="head">It's a Community</div>
                            <div _ngcontent-my-app-c198="" class="descr"> Be part of an inspiring group, changing lives
                                every month </div>
                        </div>
                    </div>
                    <div class="vl1"></div>
                    <div _ngcontent-my-app-c198="" class="flex-m "><img _ngcontent-my-app-c198=""
                            src="https://ketto.gumlet.io/assets/images/sip/icons/love-1.png?w=240&amp;dpr=1.0"
                            alt="no image" class="gm-lazy gm-added gm-loaded imgedit gm-observing gm-observing-cb"><span
                            _ngcontent-my-app-c198="" class="hr mt-3"></span>
                        <div _ngcontent-my-app-c198="" class="text mt-4">
                            <div _ngcontent-my-app-c198="" class="head">It's Transparent</div>
                            <div _ngcontent-my-app-c198="" class="descr"> You'll receive regular updates on your
                                donations </div>
                        </div>
                    </div>
                    <div class="vl1"></div>
                    <div _ngcontent-my-app-c198="">
                        <div _ngcontent-my-app-c198="" class="outer-div">
                            <div _ngcontent-my-app-c198="" class="flex-m inner-div "><img _ngcontent-my-app-c198=""
                                    src="https://ketto.gumlet.io/assets/images/sip/icons/magic-ball-1.png?w=240&amp;dpr=1.0"
                                    alt="no image"
                                    class="gm-lazy gm-added gm-loaded imgedit gm-observing gm-observing-cb"><span
                                    _ngcontent-my-app-c198="" class="hr mt-3"></span>
                                <div _ngcontent-my-app-c198="" class="text mt-4">
                                    <div _ngcontent-my-app-c198="" class="head">It's an Investment</div>
                                    <div _ngcontent-my-app-c198="" class="descr"> Your contributions will fund your
                                        medical emergencies </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-monthly-static-sprite>
        </div>
    </div>

    <!-- whydonate -->

    <!-- Our Impact -->

    <div class="sip-impact-wrapper">
        <div a class="header">
            <div class="title"> Our Impact </div>
            <div class="hr-red my-1"></div>
        </div>
        <div class="impact-details">
            <div class="responsive">
                <div class="gallery ">
                    <a target="_blank" href="/images/donateimpact1.jpg">
                        <img src="/images/donateimpact1.jpg" alt="people image will loaded soon" width="600"
                            height="400">
                    </a>
                    <div class="desc">
                        <h5><strong>2540</strong> people donated something </h5>
                        <h5><strong>754</strong> people donate every month</h5>

                    </div>

                </div>
            </div>

            <div class="responsive ">
                <div class="gallery gly">
                    <a target="_blank" href="/images/donateimpact2.jpg">
                        <img src="/images/donateimpact2.jpg" alt="Education image will loaded soon" width="600"
                            height="400">
                    </a>
                    <div class="desc desc2">
                        <h5><strong>1368</strong> Children got Education in 430 Schools and Colleges </h5>
                        <h5><strong>732</strong> Girls got Eduction</h5>
                        <h5><strong>466</strong> Children got Scholarship</h5>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="/images/donateimpact3.jpg">
                        <img src="/images/donateimpact3.jpg" alt="health image will loaded soon" width="600"
                            height="400">
                    </a>
                    <div class="desc">
                        <h5><strong>Rs.80 lakhs+</strong> raised for patient</h5>
                        <h5><Strong>151</Strong> life-changing treatments funded </h5>
                    </div>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery gly">
                    <a target="_blank" href="/images/impactdonate.jpg">
                        <img src="/images/impactdonate.jpg" alt="Meals image will loaded soon" width="600" height="400">
                    </a>
                    <div class="desc desc3">
                        <h5><strong>3.5 Lakhs </strong> meals gave to needy ones</h5>
                        <h5><strong>1.7 Lakhs</strong> Mid-day meals gave to poor people</h5>
                        <h5><strong>1.3 Lakhs</strong> Covid-19 Relief meals gave to Covid patient </h5>
                    </div>
                </div>
            </div>

            <!-- <div class="clearfix"></div> -->
        </div>
    </div>
    <!-- Our Impact -->




</div>


<script>
    function fn1() {
        document.getElementById("dollar").style.display = "none";
        document.getElementById("rupees").style.display = "flex";
    }
    function fn2() {
        document.getElementById("rupees").style.display = "none";
        document.getElementById("dollar").style.display = "flex";
    }

    function clk1() {
        document.getElementById("FocusArea2").style.display = "flex";
        document.getElementById("FocusArea1").style.display = "none";

    }

    //     $(function() {
    //     $('input[name="type"]').on('click', function() {
    //         if ($(this).val() == 'Experienced') {
    //             $('#textboxes').show();
    //         }
    //         else {
    //             $('#textboxes').hide();
    //         }
    //     });
    // });
    $(function () {
        $('input[name="type"]').on('click', function () {
            if ($(this).val() == '2') {
                $('#DonationKaro').show();
            }
            else {
                $('#DonationKaro').hide();
            }
        });
    });

</script>