<link rel="stylesheet" href="/css/donate.css">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Red+Hat+Display:wght@500&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


<div class="img1">
    <img src="./images/Donatepageheadimage.webp" alt="" width="99%" style="height: 27rem;">
</div>

<div class="heading ">
    <div class="headtext">
        <h3 class="text-center tcenter"> <strong>Alone we can do so little, together we can do so much</strong></h3>
        <h3 class="tright"><strong>- Helen Keler</strong></h3>
    </div>
    <div class="headtext2 text-center" style="margin-top: 2rem">
        <h5 style="margin-left:8rem">Helping Hands has been working in India from past 5 years, for the upliftment of
            marginalised women and
            girls and poor people through 6 programmes in 10 states and 90+ districts.</h5>
        <h4 style="margin-left: 4rem; margin-top: 1.5rem;"><strong> Together, we can change in our world in better
                direction.</strong></h4>
    </div>
</div>
<div class="panel">
    <div class="card donation-card left-panel">
        <form action="/donate/donationDetails" method="POST">
            <h2 class="card-title">
                Donation Details
            </h2>

            <div class="person-belong " style="display: flex;">
                <div class="col-12 col-md-4 offset-md-1">
                    <h3 style="font-family: 'Red Hat Display', sans-serif;">Nationality</h3>
                </div>
                <div class="rbstyle">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Nationality" id="countrybelong1"
                            value="Indian" checked>
                        <label class="form-check-label" for="countrybelong1"><strong>Indian</strong></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="Nationality" id="countrybelong2"
                            value="Other Countries">
                        <label class="form-check-label" for="countrybelong2"><strong>Other Country</strong></label>
                    </div>
                </div>
            </div>

            <div class="donation-area" style="display: flex;">

                <!-- <div class="darea"> -->

                <!-- <div class="donate-item-section"> -->

                <div class="col-12 col-md-4 offset-md-1">
                    <h3 style="font-family: 'Red Hat Display', sans-serif;"> You can donate </h3>
                </div>

                <div class="darea">
                    <div class="form-check form-check-inline dnt-menu">
                        <input class="form-check-input" type="radio" name="DoantionType" value="Money" checked>
                        <label class="form-check-label"><strong> Money</strong></label>
                    </div>

                    <div class="form-check form-check-inline dnt-menu">
                        <input class="form-check-input" type="radio" name="DoantionType" value="Education">
                        <label class="form-check-label"><strong> Education</strong>
                        </label>
                    </div>

                    <div class="form-check form-check-inline dnt-menu">
                        <input class="form-check-input" type="radio" name="DoantionType" value="Meals">
                        <label class="form-check-label"> <strong> Meals</strong></label>
                    </div>

                    <div class="form-check form-check-inline dnt-menu">
                        <input class="form-check-input" type="radio" name="DoantionType" value="Clothes">
                        <label class="form-check-label"> <strong> Clothes</strong></label>
                    </div>

                    <div class="form-check form-check-inline dnt-menu">
                        <input class="form-check-input" type="radio" name="DoantionType" value="Health Care">
                        <label class="form-check-label"><strong> Health Care</strong></label>
                    </div>
                    <div class="form-check form-check-inline dnt-menu">
                        <input class="form-check-input" type="radio" name="DoantionType" value="Disaster Relief">
                        <label class="form-check-label"><strong> Disaster Relief</strong></label>
                    </div>
                    <!-- </div> -->
                    <div id="DonationKaro1" class="dntn">
                        <div class="currency-belong " style="display: flex;">
                            <div class="col-12 col-md-4 offset-md-1">
                                <h3>Currency </h3>
                            </div>
                            <div class="cbstyle">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="MoneyType" id="countrybelong1"
                                        value="Rupees" onclick="fn1()">
                                    <label class="form-check-label" for="countrybelong1"><strong>Rupees</strong></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="MoneyType" id="countrybelong2"
                                        value="Dollar" onclick="fn2()">
                                    <label class="form-check-label" for="countrybelong2"><strong>Dollar</strong></label>
                                </div>
                            </div>
                        </div>

                        <div class="amount " id="rupees" style="display: flex;">
                            <div class="col-12 col-md-4 offset-md-1">
                                <h3>Amount </h3>
                            </div>
                            <div class="amount-area">
                                <div class="amt">
                                    <div class="amount-rupee">
                                        <input type="radio" name="AmountDonated" class="btn-check"
                                            id="btn-check-2-outlined" value="Rs.3000" unchecked autocomplete="on">
                                        <label class="btn btn-outline-secondary"
                                            for="btn-check-2-outlined">Rs.3000</label>

                                        <input type="radio" name="AmountDonated" class="btn-check"
                                            id="btn-check-3-outlined" value="Rs.5000" unchecked autocomplete="on">
                                        <label class="btn btn-outline-secondary"
                                            for="btn-check-3-outlined">Rs.5000</label>

                                        <input type="radio" name="AmountDonated" class="btn-check"
                                            id="btn-check-4-outlined" value="Rs.10000" unchecked autocomplete="on">
                                        <label class="btn btn-outline-secondary"
                                            for="btn-check-4-outlined">Rs.10000</label>
                                    </div>

                                    <!-- <div class="mb-2 my-3">
                                    <input type="text" inputmode="numeric" name="AmountDonated" class="form-control"
                                        min="0" autocomplete="off" id="exampleFormControlInput1"
                                        placeholder="Enter Your Amount">
                                </div> -->
                                    <div class="mb-2 my-3">
                                        <input type="text" inputmode="numeric" name="OtherAmountDonated"
                                            class="form-control" min="0" autocomplete="off"
                                            id="exampleFormControlInput1" placeholder="Enter Your Amount">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="amount " id="dollar" style="display: none;">
                            <div class="col-12 col-md-4 offset-md-1">
                                <h3>Amount </h3>
                            </div>
                            <div class="amount-area">
                                <div class="amount-rupee">
                                    <input type="radio" name="AmountDonated" class="btn-check
                                    rbtncheck" id="btn-check-12-outlined" value="$500" unchecked autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="btn-check-12-outlined">$500 </label>

                                    <input type="radio" name="AmountDonated" class="btn-check 
                                    rbtncheck" id="btn-check-13-outlined" value="$1000" unchecked autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="btn-check-13-outlined">$1000 </label>

                                    <input type="radio" name="AmountDonated" class="btn-check  rbtncheck"
                                        id="btn-check-14-outlined" value="$1500" unchecked autocomplete="off">
                                    <label class="btn btn-outline-secondary" for="btn-check-14-outlined">$1500 </label>
                                </div>
                                <!-- <div class="mb-2 my-3">
                                <input type="text" inputmode="numeric" name="AmountDonated"
                                    class="form-control  rbtncheck" min="0" autocomplete="off"
                                    id="exampleFormControlInput2" placeholder="Enter Your Amount">
                            </div> -->
                                <div class="mb-2 my-3">
                                    <input type="text" inputmode="numeric" name="OtherAmountDonated"
                                        class="form-control  rbtncheck" min="0" autocomplete="off"
                                        id="exampleFormControlInput2" placeholder="Enter Your Amount">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="DonationKaro2" class="dntn" style="display: none">

                        <h4>
                            <strong> Yes, I want to support a child!!!</strong>
                        </h4>

                        <div class="donateforeducation donate-type-style">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3" type="radio" name="AmountDonated"
                                    id="Educateachild1" value="Rs.8,000" onclick="checkrbtn()">
                                <label class="form-check-label  rbtncheck" for="Educateachild1"><span>
                                        <strong>Rs. 8,000/- </strong> </span>(for the education of <span>1 child for
                                        1 year</span> )</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck" type="radio" name="AmountDonated"
                                    onclick="checkrbtn()" id="Educateachild2" value="Rs.24,000">
                                <label class="form-check-label" for="Educateachild2"><span><strong>Rs.
                                            24,000/-</strong> </span> (for the
                                    education of <span> 3 children for 1 year
                                    </span>)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3" type="radio" name="AmountDonated"
                                    id="Educateachild3" value="Rs.40,000" onclick="checkrbtn()">
                                <label class="form-check-label rbtncheck" for="Educateachild2"><span>
                                        <strong>Rs. 40,000/- </strong> </span>(for the education of <span> 5 children
                                        for 1 year </span>)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input selectbtn mt-3 btn-2  rbtncheck" type="radio"
                                    name="AmountDonated" onclick="checkrbtn()" value="" id="Educateachild4">
                                <label class="form-check-label" for="Educateachild2" style="display: flex;">
                                    <div class="eduamnt">
                                        <span>Other Amount:</span>
                                    </div>
                                    <input type="text" inputmode="numeric" class="form-control btn-3 eduamnt2"
                                        autocomplete="off" min="0" name="OtherAmountDonated" id="Educateachild4"
                                        size="20" maxlength="12" placeholder="Enter number only">
                                </label>
                            </div>

                        </div>
                        <div class="edu-foot">
                            <h3>“Education is the most powerful weapon which you can use to change the world” <p
                                    style="color: #8d0a0ad1; text-align: right;"> <strong style="margin-right: 3rem;"> –
                                        Nelson Mandela</strong></p>
                            </h3>
                        </div>
                    </div>

                    <div id="DonationKaro3" class="dntn" style="display: none">

                        <h4>
                            <strong> Yes, I want to feed a child!!!</strong>
                        </h4>

                        <div class="donateformeals donate-type-style">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3  rbtncheck" type="radio" name="AmountDonated"
                                    id="Feedachild1" value="Rs. 6,000">
                                <label class="form-check-label" for="Feedachild"><span>
                                        <strong>Rs. 6,000/- </strong></span>(for
                                    feeding of <span>3 child for 1 year </span>)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3  rbtncheck" type="radio" name="AmountDonated"
                                    id="Feedachild1" value="Rs.12,000">
                                <!-- <input class="form-check-input" type="radio" name="AmountDonated" id="Feedachild1"
                                        value="feedSix"> -->
                                <label class="form-check-label" for="Feedachild"><span>
                                        <strong>Rs. 12,000/-</strong> </span>(for
                                    feeding of <span>6 children for 1 year
                                    </span>)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3  rbtncheck" type="radio" name="AmountDonated"
                                    id="Feedachild1" value="Rs.20,000">
                                <!-- <input class="form-check-input" type="radio" name="AmountDonated" id="Feedachild1"
                                        value="feedTen"> -->
                                <label class="form-check-label" for="Feedachild"><span>
                                        <strong>Rs. 20,000/-</strong> </span>(for
                                    feeding of <span>10 children for 1 year
                                    </span>)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3  rbtncheck btn2" type="radio" name="AmountDonated"
                                    id="Feedachild1" onclick="checkrbtn()" value="">
                                <label class="form-check-label" for="Feedachild" style="display: flex;">
                                    <div class="eduamnt">
                                        <span>Other amount:</span>
                                    </div>
                                    <input type="text" inputmode="numeric" min="0" class="form-control eduamnt2"
                                        autocomplete="off" name="OtherAmountDonated" id="number" size="20"
                                        maxlength="12" placeholder="Enter number only">
                                </label>
                            </div>
                        </div>
                        <div class="edu-foot">
                            <h3>“If you can't feed a hundred people , then feed just one.” <p
                                    style="color: #8d0a0ad1; text-align: right;"> <strong style="margin-right: 3rem;"> –
                                        Mother Teresa</strong></p>
                            </h3>
                        </div>

                    </div>
                    <div id="DonationKaro4" class="dntn " style="display: none">
                        <h4>
                            <strong> Yes, I want to Donate clothes!!!</strong>
                        </h4>

                        <div class="donationforclothes donate-type-style">
                            <div class="form-check form-check-inline mt-3">
                                <input class="form-check-input mt-3  rbtncheck" type="radio" name="AmountDonated"
                                    id="Clothedonate1" value="Rs.2,500">
                                <label class="form-check-label" for="Clothedonate1"> <strong>Rs. 2,500/-
                                    </strong>(for the clothes of 10 children)</label>
                            </div>

                            <div class="form-check form-check-inline mt-3">
                                <input class="form-check-input mt-3  rbtncheck" type="radio" name="AmountDonated"
                                    id="Clothedonate2" value="Rs.6,250">
                                <label class="form-check-label" for="Clothedonate2"> <strong>Rs. 6,250/-
                                    </strong>(for the clothes of 25 children)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck" type="radio" name="AmountDonated"
                                    id="Clothedonate4" value="">
                                <label class="form-check-label" for="Clothedonate4" style="display: flex;">
                                    <div class="eduamnt">
                                        <span>Other amount:</span>
                                    </div>
                                    <input type="text" inputmode="numeric" min="0" class="form-control eduamnt2"
                                        autocomplete="off" name="OtherAmountDonated" id="number" size="20"
                                        maxlength="12">
                                </label>
                            </div>

                            <div class="form-check form-check-inline mt-3 rbtncheck "
                                style="display: flex; flex-direction: row;margin-bottom: 1rem; ">
                                <input class="form-check-input mt-3 btn2" type="radio" name="AmountDonated"
                                    onclick="checkrbtn()" id="Clothedonate3">
                                <label class="form-check-label clthitem1" for="Clothedonate3"> <strong> Other Items
                                        :</strong></label>
                                <!-- <div class="category"
                                    style="display: flex; flex-direction: row; margin-top: 0.5rem;height: 3rem;">
                                    <label class="form-check-label"
                                        style="margin-right: 3rem;    font-size: large; font-weight: 700;">
                                        <input type="number" class="form-control" name="TotalNoOfClothes" id="number"
                                            min="0" size="20" maxlength="12" placeholder="No. of Items">
                                    </label>
                                    <select class="form-select" id="selectClothesType" name="ClothesType"
                                        aria-label="Default select example"
                                        style="height: 2.4rem;font-size: large;font-weight: 700;">
                                        <option  value="T-shirt/shirt">T-shirt/Shirt</option>
                                            <option  value="Pants/jeans">Pants/Jeans</option>
                                            <option  value="Sweaters/Jackets">Sweaters/Jackets</option>
                                            <option  value="Blanket">Blanket(Kambal)</option>
                                            <option  value="Shoes/Sandals">Shoes/Sandals</option>
                                    </select> 
                                </div> -->
                                <div class="category">
                                    <input type="text" min="0" class="form-control eduamnt2" autocomplete="off"
                                        name="otherItemsDonate" id="number" size="20" maxlength="12">
                                </div>


                            </div>
                        </div>
                        <div class="edu-foot">
                            <h3>“All we need is to build human relations with our deeds. That's only thing that
                                last forever ” <p style="color: #8d0a0ad1; text-align: right;"> <strong
                                        style="margin-right: 3rem;"> –
                                        Nana Patekar</strong></p>
                            </h3>
                        </div>

                    </div>
                    <div id="DonationKaro5" class="dntn" style="display: none">
                        <h4>
                            <strong> Yes, I want to cure a child!!!</strong>
                        </h4>
                        <div class="donateforhealth donate-type-style">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck" type="radio" name="AmountDonated"
                                    id="HealthCare1" value="Rs.15,000">
                                <label class="form-check-label" for="HealthCare1"> <strong>Rs.
                                        15,000/-</strong> (for the vaccines ,mask and sanitizer)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck" type="radio" name="AmountDonated" id="HealthCare2
                                          " value="Rs.25,000">
                                <label class="form-check-label" for="HealthCare2"> <strong>Rs. 25,000/-
                                    </strong>(for the medical camps and Check-ups)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck" type="radio" name="AmountDonated" id="HealthCare4
                                          " value="rs.30,000">
                                <label class="form-check-label" for="HealthCare4"> <strong>Rs. 30,000/-
                                    </strong>(Medicines for patients)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck" type="radio" name="AmountDonated"
                                    id="HealthCare3" value="Rs50,000">
                                <label class="form-check-label" for="HealthCare2"> <strong>Rs.
                                        50,000/-</strong> (for the operation/Surgery)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck btn2" type="radio" value=""
                                    name="AmountDonated" onclick="checkrbtn()" id="HealthCare5">
                                <label class="form-check-label" for="HealthCare5" style="display: flex;">
                                    <div class="eduamnt">
                                        <span>Other amount:</span>
                                    </div>
                                    <input type="text" inputmode="numeric" min="0" autocomplete="off"
                                        class="form-control eduamnt2" name="OtherAmountDonated" id="number" size="20"
                                        maxlength="12">
                                </label>
                            </div>
                            <div class="sponsr justify-content-md-center d-md-flex" style="margin-top: 2rem;">
                                <a class="btn btn-outline-danger btn-lg" href="/fundRaiser" role="button">Sponsor A
                                    Child</a>
                            </div>
                        </div>
                        <div class="edu-foot">
                            <h3>“All we need is to build human relations with our deeds. That's only thing that
                                last forever ” <p style="color: #8d0a0ad1; text-align: right;"> <strong
                                        style="margin-right: 3rem;"> –
                                        Nana Patekar</strong></p>
                            </h3>
                        </div>

                    </div>
                    <div id="DonationKaro6" class="dntn" style="display: none">
                        <h4>
                            <strong> Yes, I want to help!!!</strong>
                        </h4>
                        <div class="donatefordisaster donate-type-style">


                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck" type="radio" name="AmountDonated"
                                    id="DisasterRelief1" value="Rs.13,000">
                                <label class="form-check-label" for="DisasterRelief1"> <span><strong>Rs. 13,000/-
                                        </strong> </span> (for
                                    food and medical support for survivors )</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck" type="radio" name="AmountDonated"
                                    id="DisasterRelief2" value="Rs.15,000">
                                <label class="form-check-label" for="DisasterRelief2">
                                    <span><strong>Rs.15,000/-</strong> </span>( the shelter
                                    camp for survivors)</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input mt-3 rbtncheck btn2" type="radio" value=""
                                    name="AmountDonated" onclick="checkrbtn()" id="DisasterRelief4">
                                <label class="form-check-label" for="DisasterRelief4" style="display: flex;">
                                    <div class="eduamnt">
                                        <span>Other amount:</span>
                                    </div>
                                    <input type="text" inputmode="numeric" class="form-control eduamnt2" min="0"
                                        autocomplete="off" name="OtherAmountDonated" id="number" size="20"
                                        maxlength="12" placeholder="Enter numbers only">
                                </label>
                            </div>
                        </div>
                        <div class="edu-foot">
                            <h3>“Services to others is the rent you pay for your room here on Earth” <p
                                    style="color: #8d0a0ad1; text-align: right;"> <strong style="margin-right: 3rem;"> –
                                        Muhammad Ali</strong></p>
                            </h3>
                        </div>


                    </div>
                </div>
            </div>
            <div class="container submit-button  btn-lg active d-grid gap-2 d-md-flex justify-content-md-center"
                style="margin:-1rem;">
                <input type="submit" value="Proceed" id="proceedbtn" class="btn btn-danger text-center " role="button"
                    aria-pressed="true" nodemon></input>
            </div>
            <!-- <input type="submit" value="Proceed" id="proceedbtn" class="btn btn-danger text-center " role="button" aria-pressed="true" disabled></input> -->
            <!-- <div class="container submit-button  btn-lg active d-grid gap-2 d-md-flex justify-content-md-center">
                <a class="btn btn-danger text-center" type="submit" href="donateProceed" role="button">Proceed</a>
            </div> -->
        </form>
    </div>
</div>
</div>

<div _ngcontent-my-app-c212="" class="what-is-monthly">
    <div _ngcontent-my-app-c212="" class="heading"> Why Donate at <span _ngcontent-my-app-c212="" class="heading2">
            Helping Hands
        </span></div>
    <hr _ngcontent-my-app-c212="" class="hr-yellow my-1">
    <div _ngcontent-my-app-c212="" class="sub-heading"> Every 2 minutes, a child dies because they can't afford
        medical aid. With <span _ngcontent-my-app-c212="" class="sip-color"><strong _ngcontent-my-app-c212=""
                class="heading2">
                Helping Hands </strong></span>, we are on a mission to make healthcare a reality for everyone,
        no matter who you are. </div>
    <div _ngcontent-my-app-c212="" class="sub-heading"> Every 2 minutes, a child dies because they can't afford
        medical aid. With <span _ngcontent-my-app-c212="" class="sip-color"><strong _ngcontent-my-app-c212=""
                class="heading2">
                Helping Hands </strong></span>, we are on a mission to make healthcare a reality for everyone,
        no matter who you are. </div>
    <div _ngcontent-my-app-c212="" class="wrapper ">
        <app-monthly-static-sprite _ngcontent-my-app-c212="" _nghost-my-app-c198="">
            <div _ngcontent-my-app-c198="" class="sprite-section whydonate">
                <div _ngcontent-my-app-c198="" class="flex-m "><img _ngcontent-my-app-c198=""
                        src="/images/whydonate1.1.jpg" alt="no image"
                        class="gm-lazy gm-added imgedit gm-loaded gm-observing gm-observing-cb"><span
                        _ngcontent-my-app-c198="" class="hr mt-3"></span>
                    <div _ngcontent-my-app-c198="" class="text mt-4">
                        <div _ngcontent-my-app-c198="" class="head">Its Affordable</div>
                        <div _ngcontent-my-app-c198="" class="descr"> No matter what you give, every donation will
                            make an impact </div>
                    </div>
                </div>
                <div class="vl1"></div>
                <div _ngcontent-my-app-c198="" class="flex-m "><img _ngcontent-my-app-c198=""
                        src="/images/whydonate1.2.jpg" alt="no image"
                        class="gm-lazy gm-added gm-loaded imgedit2 gm-observing gm-observing-cb"><span
                        _ngcontent-my-app-c198="" class="hr mt-3"></span>
                    <div _ngcontent-my-app-c198="" class="text mt-4">
                        <div _ngcontent-my-app-c198="" class="head">It's a Community</div>
                        <div _ngcontent-my-app-c198="" class="descr"> Be part of an inspiring group, changing lives
                            every month </div>
                    </div>
                </div>
                <div class="vl1"></div>
                <div _ngcontent-my-app-c198="" class="flex-m "><img _ngcontent-my-app-c198=""
                        src="https://ketto.gumlet.io/assets/images/sip/icons/love-1.png?w=240&amp;dpr=1.0"
                        alt="no image" class="gm-lazy gm-added gm-loaded imgedit gm-observing gm-observing-cb"><span
                        _ngcontent-my-app-c198="" class="hr mt-3"></span>
                    <div _ngcontent-my-app-c198="" class="text mt-4">
                        <div _ngcontent-my-app-c198="" class="head">It's Transparent</div>
                        <div _ngcontent-my-app-c198="" class="descr"> You'll receive regular updates on your
                            donations </div>
                    </div>
                </div>
                <div class="vl1"></div>
                <div _ngcontent-my-app-c198="">
                    <div _ngcontent-my-app-c198="" class="outer-div">
                        <div _ngcontent-my-app-c198="" class="flex-m inner-div "><img _ngcontent-my-app-c198=""
                                src="https://ketto.gumlet.io/assets/images/sip/icons/magic-ball-1.png?w=240&amp;dpr=1.0"
                                alt="no image"
                                class="gm-lazy gm-added gm-loaded imgedit gm-observing gm-observing-cb"><span
                                _ngcontent-my-app-c198="" class="hr mt-3"></span>
                            <div _ngcontent-my-app-c198="" class="text mt-4">
                                <div _ngcontent-my-app-c198="" class="head">It's an Investment</div>
                                <div _ngcontent-my-app-c198="" class="descr"> Your contributions will fund your
                                    medical emergencies </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-monthly-static-sprite>
    </div>
</div>

<div class="sip-impact-wrapper">
    <div class="header">
        <div class="title"> Our Impact </div>
        <div class="hr-red my-1"></div>
    </div>
    <div class="impact-details">
        <div class="responsive">
            <div class="gallery ">
                <a target="_blank" href="/images/donateimpact1.jpg">
                    <img src="/images/donateimpact1.jpg" alt="people image will loaded soon" width="600" height="400">
                </a>
                <div class="desc">
                    <h5><strong>2540</strong> people donated something </h5>
                    <h5><strong>754</strong> people donate every month</h5>

                </div>

            </div>
        </div>

        <div class="responsive ">
            <div class="gallery gly">
                <a target="_blank" href="/images/donateimpact2.jpg">
                    <img src="/images/donateimpact2.jpg" alt="Education image will loaded soon" width="600"
                        height="400">
                </a>
                <div class="desc desc2">
                    <h5><strong>1368</strong> Children got Education in 430 Schools and Colleges </h5>
                    <h5><strong>732</strong> Girls got Eduction</h5>
                    <h5><strong>466</strong> Children got Scholarship</h5>
                </div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/images/donateimpact3.jpg">
                    <img src="/images/donateimpact3.jpg" alt="health image will loaded soon" width="600" height="400">
                </a>
                <div class="desc">
                    <h5><strong>Rs.80 lakhs+</strong> raised for patient</h5>
                    <h5><Strong>151</Strong> life-changing treatments funded </h5>
                </div>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery gly">
                <a target="_blank" href="/images/impactdonate.jpg">
                    <img src="/images/impactdonate.jpg" alt="Meals image will loaded soon" width="600" height="400">
                </a>
                <div class="desc desc3">
                    <h5><strong>3.5 Lakhs </strong> meals gave to needy ones</h5>
                    <h5><strong>1.7 Lakhs</strong> Mid-day meals gave to poor people</h5>
                    <h5><strong>1.3 Lakhs</strong> Covid-19 Relief meals gave to Covid patient </h5>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    function fn1() {
        document.getElementById("dollar").style.display = "none";
        document.getElementById("rupees").style.display = "flex";
    }
    function fn2() {
        document.getElementById("rupees").style.display = "none";
        document.getElementById("dollar").style.display = "flex";
    }

    $(function () {
        $('input[name="DoantionType"]').on('click', function () {
            if ($(this).val() == 'Money') {
                $('#DonationKaro1').show();
                $('#DonationKaro2').hide();
                $('#DonationKaro3').hide();
                $('#DonationKaro4').hide();
                $('#DonationKaro5').hide();
                $('#DonationKaro6').hide();
            }
            else if ($(this).val() == 'Education') {
                $('#DonationKaro2').show();
                $('#DonationKaro1').hide();
                $('#DonationKaro3').hide();
                $('#DonationKaro4').hide();
                $('#DonationKaro5').hide();
                $('#DonationKaro6').hide();
            }
            else if ($(this).val() == 'Meals') {
                $('#DonationKaro3').show();
                $('#DonationKaro1').hide();
                $('#DonationKaro2').hide();
                $('#DonationKaro4').hide();
                $('#DonationKaro5').hide();
                $('#DonationKaro6').hide();
            }
            else if ($(this).val() == 'Clothes') {
                $('#DonationKaro4').show();
                $('#DonationKaro1').hide();
                $('#DonationKaro2').hide();
                $('#DonationKaro3').hide();
                $('#DonationKaro5').hide();
                $('#DonationKaro6').hide();
            }
            else if ($(this).val() == 'Health Care') {
                $('#DonationKaro5').show();
                $('#DonationKaro2').hide();
                $('#DonationKaro3').hide();
                $('#DonationKaro4').hide();
                $('#DonationKaro1').hide();
                $('#DonationKaro6').hide();
            }
            else {
                $('#DonationKaro1').hide();
                $('#DonationKaro2').hide();
                $('#DonationKaro3').hide();
                $('#DonationKaro4').hide();
                $('#DonationKaro5').hide();
                $('#DonationKaro6').show();
            }
        });
    });


    document.getElementsByName('optradio').forEach(radio => {
        if (radio.checked) {
            console.log(radio.value);
        }
    });

    var inputElems = document.getElementsByClassName("rbtncheck");
    for (var i = inputElems.length - 1; i >= 0; --i) {
        var elem = inputElems[i];
        elem.onchange = function () {
            document.getElementById("proceedbtn").removeAttribute("disabled");
        };
    }
    function checkrbtn() {
        if (document.getElementsByClassName('amountdonated').checked) {
            document.getElementsByClassName('btn3').disabled = true;
        }
        else if (document.getElementsByClassName('btn2').checked) {
            document.getElementsByClassName('btn3').disabled = false;
        }

    }
</script>