<link rel="stylesheet" href="/css/fundRaiser.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="head">
<div class="fundraise-header">
    <div class="header-img">
        <img src="https://images.pexels.com/photos/2940334/pexels-photo-2940334.jpeg?cs=srgb&dl=pexels-harsha-vardhan-2940334.jpg&fm=jpg" alt="">
    </div>
    <div class="header-text">
        <h1><span style="color: #ed3b3bed;"> Helping Hands</span> Fundraisers</h1>
        <p>Need Funds to Pay For a Medical Emergency or Social Cause?</p>
        <div class="fundraiser-details">
            <div class="fundraiser-details-content">
                <h3>0%</h3>
                <span>Platform Fees</span>
            </div>
            <div class="verti-line"></div>
            <div class="fundraiser-details-content">
                <h3>10 Lakhs+</h3>
                <span>donors</span>
            </div>
            <div class="verti-line"></div>
            <div class="fundraiser-details-content">
                <h3>50 Lakhs+</h3>
                <span>People Served</span>
            </div>
        </div>
        <div class="fundraise-btn">
            <a href="/freeFundraiser">Start a  Fundraiser for <b> FREE</b></a>
        </div>
    </div>
    
  </div>
</div>

<div class="featured-fundraiser">
    <div class="ff-text" style="text-align: center;">
        <h1>Featured Fundraisers</h1>
        <p>View the fundraisers that are most active right now</p>
    </div>
  
</div>


