<link rel="stylesheet" href="/css/ngoPartners.css">
<div class="heading">
    <h1>Become our Partner NGO</h1>
    <p>We want your organization to get more non-monetary donations – clothes, stationery, household goods and other items that you can use to make a difference. Just tell us your requirements and we will fulfill them in the best possible way.
    </p>
    </div>
    <div class="heading2">
    <h2>
    How we support NGOs?
    </h2>
    <p>
    We fulfill your needs by collecting donations from different donors and deliver them to you
    We spread awareness about the different causes you support
    We let people know about your great work and your requirements
    We connect you corporates & volunteers.
    </p>
    <br>
    <p><strong>
    To become our partner, send us a mail at ngo@helpinghands.org. Let’s Spread Happiness together!!
    </strong>
    </p>
    </div>
    <div class="img1" style="margin: 2rem 8rem;">
       <img src="/images/ngoprtnr.jpg" alt="" width="1250">
    </div>