<h1>H1</h1>
<link rel="stylesheet" href="/css/proceed.css">

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Pay Now
</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(255, 106, 106); color: white;">
                <div>
                    <h5 class="modal-title" id="exampleModalLongTitle">Helping Hand Donation</h5>
                    <p style="margin-top: -5px;">Contribution</p>
                    <h5 style="margin-top: -10px;">₹ 7000</h5>
                </div>
                <button type="button" style="margin-top: -10px;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <p>Payment Methods</p>
                <div>
                    <button class="btn btn-light">Pay using card</button>
                    <button class="btn btn-light">NetBanking</button>
                    <button class="btn btn-light">UPI/QR</button>
                    <button class="btn btn-light">Wallet</button>
                    <button class="btn btn-light">Pay Later</button>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>