<link rel="stylesheet" href="/css/terms.css">

<h1>Terms and conditions</h1>
<section id="terms">
    <p>Use of this site is provided by Give Foundation (henceforth referred to as GiveIndia) subject to the following of
        the
        Terms and conditions as given below.</p>
    <ul>
        <li>Your use and access to the website constitute acceptance of these Terms and Conditions as at the date of
            your
            first use
            of the website.</li>
        <li>You agree to use the website only for lawful purposes, and in a manner which does not infringe the rights,
            or
            restrict,
            or inhibit the use and enjoyment of the website by any third party.</li>
        <li>GiveIndia reserves the rights to change these Terms and Conditions at any time by posting changes online.
            Your
            continued
            use of the website after changes are posted constitutes your acceptance of the new Terms and Conditions as
            modified
            automatically. You should, therefore, review these Terms and Conditions regularly.</li>
        <li>GiveIndia takes no responsibility for the content of external internet websites. Following links to any
            other
            websites
            or pages shall be at your own risk and GiveIndia shall not be responsible or liable, directly or indirectly,
            for
            any
            damages resulting from the use of such other websites.</li>
        <li>All intellectual property on the website and the material or information it contains including without
            limitation
            copyright, designs, database rights and trademarks (registered or unregistered) are and shall remain the
            property of
            GiveIndia or its third party licensors.</li>
        <li>Commercial use or publication of all or any item displayed on the site without authorization from GiveIndia
            is
            strictly
            prohibited. Nothing contained in these Terms and Conditions shall be construed as conferring any licensee by
            GiveIndia
            to use any item displayed.</li>
        <li>Materials in the website may be copied for personal use only on the condition that all copyright notices and
            source
            indications are also reproduced, no modifications are made and each relevant item is copied in its entirety.
            Some
            materials that have been outsourced have been published on the website with all the necessary permissions
            from
            the
            relevant copyright owners (who are not part of GiveIndia). All rights are reserved on these materials and
            permission to
            copy them must be requested. from the individual copyright owners (as indicated within these materials).
        </li>
        <li>Any communication or material that you transmit to, or post on, any public area of the website including any
            data,
            questions, comments, suggestions, or the like, is and will be treated as non-confidential and
            non-proprietary
            information. GiveIndia reserves the right to remove any such communication or material from the website at
            its
            own
            discretion.</li>
        <li>If there is any conflict between these Terms and Conditions and rules and/or specific terms of use appearing
            on
            the
            Website relating to specific material then the latter shall prevail.</li>
        <li>These Terms and Conditions shall be governed and construed in accordance with the laws of India. Any
            disputes
            shall be
            subject to the non-exclusive jurisdiction of the Indian Courts.</li>
        <li>If these Terms and Conditions are not accepted in full, the use of the website must be terminated
            immediately.
        </li>
        <li>Visitors acknowledge that visiting this site is an implicit acceptance of these 'Terms and Conditions' on
            their
            part.</li>

        <li>
            Accepting 'Terms and Conditions' means an implicit acceptance of our Disclaimer and Privacy Policy</li>
    </ul>

    <strong>Email:</strong> info@giveindia.org
</section>