<link rel="stylesheet" href="/css/volunteer.css">
<link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />

<div class="main_content">
    <h3>BECOME A VOLUNTEER</h3>
    <p class="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nobis totam aperiam autem? Magnam ratione quas iusto dolores fuga eaque eligendi cum labore voluptatum tenetur praesentium minima hic, quidem atque.</p>

    <p class="para2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt adipisci modi eligendi accusamus tempora sint, quasi quo iste quis inventore porro. Asperiores, inventore dolore ex veritatis distinctio quo, labore suscipit in mollitia amet ipsam! Cum perferendis consequuntur atque, velit impedit delectus eaque sint placeat iste facere odit inventore quos non.</p>

    <p class="para3"><strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis et neque necessitatibus vel optio quia!</strong></p>
    <p class="para4">To join as volunteer write us at <a href="#">helpinghands@gmail.com</a> or fill the form given below</p>

</div>

<div class="google-form">
    <div class="container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfUJhPQnJjTKjf34PIWtFvrjNy1Crl9Kf2HNC2vxg8fGOqjXA/viewform?embedded=true" width="640" height="1428" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </div>
</div>