#brandPartners {
    margin: 3rem 8rem;
   
}

#brandPartners h2{
    margin: 2rem 0rem;
}

#brand-logos img{
    width: 14rem;
    margin: 1rem 2rem;
}

#brand-logos {
    margin-top: 3rem;
    margin-right: 8rem;
    text-align: center;
}

