.nav {
  padding: 2vh 2vw !important;
}

.header_user_img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin-right: 1rem;
}

.logo{
    height: 60px;
    width: 190px;
    margin-top: -19px;
    margin-left: 7px;
}

.fundraiser-btn{
  text-decoration: none;
  padding: 7px 14px;
  border-radius: 5px;
  border: 2px solid #ed3b3bed;
  color: #ed3b3bed;
  margin-right: 15px;
}

.fundraiser-btn:hover{
  background-color: #e41515ed;
  border: 2px solid #e41515ed;
  color: white;
  transition: 0.4s;
  text-decoration: none;
}

.login-btn{
    margin-right: 14px;
    margin-left: 0px !important;
    background-color: #ed3b3bed !important;
    color: white !important;
    border:2px solid #ed3b3bed !important;
}

.login-btn:hover{
    background-color: #e41515ed !important;
}