.heading{   
    width: 80rem;
    margin: 2rem 8rem;
}
.heading h1{
    text-align: center;
}
.heading p{
    font-size: medium;
    font-weight: 500;
    margin-right: 2rem;
}
.heading2{
    width: 80rem;
    margin: 2rem 8rem;
    
}
.heading2 p{
    font-size: medium;
    font-weight: 500;
    padding-top: 1rem;
    margin-right: 2rem;
}
