@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');


.heading{   
    text-align: center;
    width: 77rem;
    margin: 2rem 4rem;
}
.heading h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.heading p{
    font-size: medium;
    font-weight: 500;
    margin-right: 2rem;
}
.heading2{
    width: 80rem;
    margin: 2rem 8rem;
    
}
.heading2 p{
    font-size: medium;
    font-weight: 500;
    padding-top: 1rem;
    margin-right: 2rem;
}
