#user_profile {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    justify-content: center;
}

#profile{
    width: 20%;
    text-align: center;
    margin-right: 2rem;
}

#content {
    width: 50%;
    border: 0.5px solid rgb(224, 224, 224);
    border-radius: 5px;
    text-align: center;
}

.edit_profile {
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
}

.user_profile_img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 1px solid gray;
}